* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #48affd;
}
h4 {
  margin: -5px 0 10px;
  text-align: center;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: normal;
  color: #e79b9f;
}

.d-app {
  padding: 10px;
  position: relative;
  background: #ffcf44;
  text-align: center;
}
.d-app::after {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  position: absolute;
  left: 0;
  bottom: -25px;
  background: url("../img/downloadapp/wave-bottom.png") repeat-x;
}

.d-app.wl {
  padding-bottom: 0;
  margin-bottom: 10px;
}
.d-app.wl::after {
  display: none;
}

.da-logo {
  display: block;
  width: 70px;
  height: 45px;
  margin: 0 auto 30px;
  background: url("../img/downloadapp/logo.png");
}

.da-desc {
  color: #fff;
}
.wl-desc {
  width: 360px;
  margin: 0 auto;
  padding: 0 18px;
  text-align: justify;
  color: #3d3d3d;
}
.wl-subscribe {
  width: 280px;
  margin: 20px auto 30px;
  text-align: center;
}
.wl-subscribe input {
  padding-bottom: 2px;
  border-color: #000;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0;
}
.wl-subscribe .btn {
  width: 125px;
  text-transform: lowercase;
}

.da-picture {
  width: 203px;
  height: 259px;
  margin: 20px auto 0;
  position: relative;
}
.da-picture::before, .da-picture::after {
  content: "";
  display: block;
  width: 117px;
  height: 191px;
  position: absolute;
  left: -115px;
  top: 40px;
  background: url("../img/downloadapp/picture-l.png");
}
.da-picture::after {
  width: 129px;
  height: 190px;
  left: auto;
  right: -119px;
  background-image: url("../img/downloadapp/picture-r.png");
}

.d-buttons {
  margin: 60px 0 50px;
  text-align: center;
}
.d-buttons a {
  display: inline-block;
  width: 122px;
  height: 38px;
  margin: 0 20px;
  background: url("../img/downloadapp/play-store.png");
}
.d-buttons a:last-child {
  width: 118px;
  height: 39px;
  background-image: url("../img/downloadapp/ios-store.png");
}
.d-buttons a:hover {
  opacity: .8;
}

.d-bottom {
  height: 105px;
  background: url("../img/downloadapp/d-bottom.png") repeat-x center top;
}


/* ===== Portrait phones and smaller ===== */
@media screen and (max-width: 480px) {
  .da-logo {
    margin-bottom: 0;
  }
  .wl .da-logo {
    margin-bottom: 10px;
  }
  .da-picture {
    margin-top: 10px;
  }
  .d-buttons {
    margin: 50px 0 40px;
  }
}
