.p-p-m-cont {
  -skrollr-animation-name: ppmCont;
}

.iphone-mockup.i-m-search {
  -skrollr-animation-name: imSearch;
}

.iphone-mockup.i-m-preview {
  -skrollr-animation-name: imPreview;
}

.iphone-mockup.i-m-shipping {
  -skrollr-animation-name: imShipping;
}

.moments-matter {
  -skrollr-animation-name: momentsMatter;
}

.p-p-l-1 {
  -skrollr-animation-name: ppLine;
}
.p-p-l-2, .p-p-l-3 {
  -skrollr-animation-name: ppLineNone;
}

.p-p-t-1 {
  -skrollr-animation-name: ppTitle1;
}
.p-p-t-2 {
  -skrollr-animation-name: ppTitle2;
}
.p-p-t-3 {
  -skrollr-animation-name: ppTitle3;
}

.p-p-d-1 {
  -skrollr-animation-name: ppDesc1;
}
.p-p-d-2 {
  -skrollr-animation-name: ppDesc2;
}
.p-p-d-3 {
  -skrollr-animation-name: ppDesc3;
}


@-skrollr-keyframes ppmCont {
  0 {position: fixed; left: 10%; top: 30%;}
  200 {top: 10%}
  1600 {top: 10%}
  2200 {top: -100%;}
}

@-skrollr-keyframes imSearch {
  0 {top: 0px; left: 200px; transform: scale(1);}
  400 {top: 0px;}
  600 {left: 100px; top: 25px; transform: scale(0.88);}
  900 {top: 25px;}
  1100 {left: 0px; top: 60px; transform: scale(0.73);}
}

@-skrollr-keyframes imPreview {
  0 {top: -1000px; left: 200px; transform: scale(1);}
  400 {left: 200px;}
  600 {top: 0px;}
  900 {top: 0px;}
  1100 {left: 100px; top: 25px; transform: scale(0.88);}
}

@-skrollr-keyframes imShipping {
  0 {top: -1000px; left: 200px;}
  900 {left: 200px;}
  1100 {top: 0px;}
}

@-skrollr-keyframes momentsMatter {
  1 {padding-top: 1800px;}
}

@-skrollr-keyframes ppLine {
  0 {width: 260px;}
  400 {width: 260px;}
  500 {width: 280px;}
  600 {width: 260px;}
  900 {width: 260px;}
  1000 {width: 280px;}
  1100 {width: 260px;}
}

@-skrollr-keyframes ppLineNone {
  0 {display: none;}
}

@-skrollr-keyframes ppTitle1 {
  0 {opacity: 1;}
  550 {opacity: 1;}
  650 {opacity: 0;}
}
@-skrollr-keyframes ppTitle2 {
  0 {position: absolute; right: 0px; top: 0px; opacity: 0;}
  550 {opacity: 0;}
  650 {opacity: 1;}
  1050 {opacity: 1;}
  1150 {opacity: 0;}
}
@-skrollr-keyframes ppTitle3 {
  0 {position: absolute; right: 0px; top: 0px; opacity: 0;}
  1050 {opacity: 0;}
  1150 {opacity: 1;}
}

@-skrollr-keyframes ppDesc1 {
  0 {opacity: 1;}
  550 {opacity: 1;}
  650 {opacity: 0;}
}
@-skrollr-keyframes ppDesc2 {
  0 {position: absolute; left: 0px; top: 143px; opacity: 0;}
  550 {opacity: 0;}
  650 {opacity: 1;}
  1050 {opacity: 1;}
  1150 {opacity: 0;}
}
@-skrollr-keyframes ppDesc3 {
  0 {position: absolute; left: 0px; top: 143px; opacity: 0;}
  1050 {opacity: 0;}
  1150 {opacity: 1;}
}
