.logo-name {
  color: #d4d4d4;
  font-size: 160px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}

.input-group-addon {
  min-width: 36px;
}

.has-error {
  color: #ff6666 !important;
}

.photos-row {
  background: #eceeef;
}

.d-none {
  display: none;
}