html, body {
  margin: 0;
  padding: 0;
}

.print-block::after {
  content: "";
  display: block;
  clear: both;
}

.p-item {
  width: 7.5cm;
  height: 9.8cm;
  position: relative;
  float: left;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  border: 0.2cm solid #fff;
  /*border-bottom-width: 2.7cm;*/
  text-align: center;
}
.p-img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.p-img.rotate {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  position: relative;
  top: 100%;
  max-width: none;
  max-height: none;
}

@page {
  size: 15.1cm 10cm;
  margin: 0;
  padding: 0;
}

@media print {
  html, body {
    width: 15.1cm;
    height: auto;
  }

  .p-item {
    page-break-before: avoid;
  }
  .p-item:nth-child(even) {
    float: right;
  }
}